.notification-page {
  padding: 25px;
}

.notification-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.notification-card span {
  color: gray;
  font-size: 14px;
}