@use '../../../styles/palette' as *;

.heroSection {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6px;
  align-items: stretch;

  @include respond(tablet-lg) {
    grid-template-columns: 1fr;
  }
}

.left {
  min-width: 0;
}

.right {
  min-width: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;

  @include respond(tablet-lg) {
    min-height: auto;
  }
}
